<!DOCTYPE html>
<html>
    <body bgcolor="cyan">
        <center>
        
            <h3>welcome to iris flower detction</h3>
            <form method="POST", action="{{url_for('home')}}">
                <p>Sepal length : <input type="text", name="a", placeholder="enter sepal length in cm"></p>
                <p>Sepal width : <input type="text", name="b", placeholder="enter sepal width in cm"></p>
                <p>Petal length : <input type="text", name="c", placeholder="enter petal length in cm"></p>
                <p>Petal width : <input type="text", name="d", placeholder="enter petal width in cm"></p>
                <input type="submit" , value="predict">
            
            </form>
            <img src="D:\jupiter\image1-30.webp", alt="flower", style="height: 400px; width: 700px;">

        </center>
        
    </body>
</html>